/node_modules
/flashvenv
.env
.vscode/
documentation/
guidelines/
android/
backend/profiles.json
backend/data/*.db
backend/data/*.7z
backend/data/tatoeba-multi-lang.db
dist/
log/
.vscode/
**/__pycache__/
*.pyc


